.select-file-container{
    border: 1px dashed #DDDDDD;
    width:100%;
}

input[type="file"] {
    display: none;
    
   
}
custom-file-upload {
    /* border: 1px solid #ccc; */
    /* display: inline-block; */
    /* padding: 6px 12px; */
    cursor: pointer;
    /* width:150px;; */
    /* height:34px; */
    color:#888888;
    font-size: 14px;
    /* margin-left: 10px; */
    /* display:flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* flex-wrap: wrap; */

    
}
.select-new-file{
    text-decoration: underline;
    /* margin-left:10px */
    
}

.file-icons{
    /* height:16.5px; */
    /* width:17px; */
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 15px; */
}

